<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#E43A19" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" type="image/x-icon" href="/icons/icon-512x512.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <a href="#main-content" class="skip-link">Skip to Content?</a>
  <header class="app-bar">
    <div class="hamburger">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="logo">Savoria</div>
    <nav id="navigationDrawer" class="nav-bar">
      <ul>
        <li><a href="#/homepage" class="active">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/ZakiYoga" target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="hero">
      <div class="hero-content">
        <h1>Find Your Favorite Restaurant Now!</h1>
      </div>
    </div>
    <div id="main-content">
      <div id="list-item"></div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2023 Savoria. All rights reserved.</p>
      <ul class="footer-links">
        <li><a href="#">
            <img src="./icons/github.svg" alt="github" target="_blank"></a>
        </li>
        <li><a href="#">
            <img src="./icons/instagram.svg" alt="instagram" target="_blank"></a>
        </li>
        <li><a href="#">
            <img src="./icons/youtube.svg" alt="youtube" target="_blank"></a>
        </li>
      </ul>
    </div>
  </footer>

</body>

</html>